/*Color del fondo*/
body{
    background-color:gray;
}

h2{
    font-style: italic;
}

.gris{
    background-color: rgba(0, 0, 0, 0.103);
}
.top-nav-collapse{
    background-color: rgba(0, 0, 0, 0.438) !important;
}
.asd{
    background-color: #f6831e;
}